.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pagination-container .pagination {
    display: flex;
}

.pagination-item {
    list-style: none;
    margin-left: 20px
}

.pagination-item--right {
    list-style-type: none;
    float: right;
    margin-right: 20px
}

.pagination-container {
    display: flex;
}

.pagination li {
    list-style: none;
}

    .pagination li.active {
        color: red;
        list-style: none;
    }

    .pagination li a {
        border-radius: 5px;
        background-color: var(--blue);
        padding: 10px;
        color: white;
        text-decoration: none;
        margin: 0 20px;
    }

    .pagination li.active a {
        color: black;
        border-radius: 5px;
        background-color: var(--blue);
        padding: 10px;
    }

    .pagination li.PagedList-skipToNext {
        padding: 0;
    }
