<div class="Notificaion">
    <div class="Notificaion-item">
        <div class="empty-Notificaion">
            <img src="~/assest/imgs/istockphoto-1140611970-612x612.jpg" />
            <div class="empty-Notificaion-text">
                <h1>Tài khoản này đang quản lý trong chức năng quản lý mượn trả!</h1>
                <p>Hãy xóa phần mà tài khoản này quản lý rồi quay lại để xóa tài khoản nhé!</p>
                <a href="@Url.Action("ListLibrarian", "Librarian")" class="btn-primary">Quay lại trang</a>
            </div>
        </div>
    </div>
</div>
