<div class="Notificaion">
    <div class="Notificaion-item">
        <div class="empty-Notificaion">
            <img src="~/assest/imgs/istockphoto-1140611970-612x612.jpg" />
            <div class="empty-Notificaion-text">
                <h1>Tài khoản này hiện tại bạn đang đăng nhập không thể xóa được!</h1>
                <a href="@Url.Action("ListLibrarian", "Librarian")" class="btn-primary">Quay lại trang</a>
            </div>
        </div>
    </div>
</div>