<div class="Notificaion">
    <div class="Notificaion-item">
        <div class="empty-Notificaion">
            <img src="~/assets/Admin/imgs/istockphoto-1140611970-612x612.jpg" />
            <div class="empty-Notificaion-text">
                <h1>Nhóm quyền này hiện còn tồn tại ở các tài khoản nhân viên trong thư viện!</h1>
                <p>Hãy chỉnh sửa hoặc xóa các nhân viên có quyền này nhé!</p>
                <a href="@Url.Action("ListLibrarian", "LibrarianType")" class="btn-primary">Quay lại trang</a>
            </div>
        </div>
    </div>
</div>



