<div class="Notificaion">
    <div class="Notificaion-item">
        <div class="empty-Notificaion">
            <img src="~/assets/imgs/istockphoto-1140611970-612x612.jpg" />
            <div class="empty-Notificaion-text">
                <h1>Nhà xuất bản này hiện còn tồn tại trong quản lý sách!</h1>
                <p>Hãy xóa sách liên quan đến nhà xuất bản này và quay lại đây nhé!</p>
                <a href="@Url.Action("ListBookPublishern", "Bookpublisher")" class="btn-primary">Quay lại trang</a>
            </div>
        </div>
    </div>
</div>

