@model IEnumerable<LibraryManagement.Models.BookBorrowing>

@{
    ViewBag.Title = "ResultMonthYear";
    Layout = "~/Views/Layout/Admin.cshtml";
    ViewBag.active = 4;
}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Ngày mượn</th>
                    <th>Tổng số mượn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MASACH</td>
                        <td>@item.TENSACH</td>
                        <td>@item.NGAYMUON</td>
                        <td>@item.TotalBorrowQuantity</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>