<div class="Notificaion">
    <div class="Notificaion-item">
        <div class="empty-Notificaion">
            <img src="~/assets/Admin/imgs/istockphoto-1140611970-612x612.jpg" />
            <div class="empty-Notificaion-text">
                <h1>Bạn không đủ quyền để truy cập chức năng này!</h1>
                <p>Hãy liên hệ với quản trị viên để được cấp quyền và quay lại đây nhé!</p>
            </div>
        </div>
    </div>
</div>


