<div class="Notificaion">
    <div class="Notificaion-item">
        <div class="empty-Notificaion">
            <img src="~/assets/Admin/imgs/istockphoto-1140611970-612x612.jpg" />
            <div class="empty-Notificaion-text">
                <h1>Tài khoản này hiện tại bạn đang vẫn chưa được xử lý trong phần quản lý mượn!</h1>
                <p>Hãy xử lý nghiệp vụ ở chức năng đó rồi quay lại đây nhé!</p>
                <a href="@Url.Action("ListUser", "User")" class="btn-primary">Quay lại trang</a>
            </div>
        </div>
    </div>
</div>
